//Bu Sass Dosyası Emrah KAHRAMAN tarafından kodlanmıştır.

//Variable
@import "variables/_reset";
@import "variables/_variable";

* {
  box-sizing: border-box;
}

body {
  background-color: $bg_color;
  width: 100%;
  overflow-x: hidden;
  font-size: $large_size;
  font-family: $one_family, $two_family;
  color: $primary_color;
  min-height: 100vh;
}

//Header#
#header {
  width: 100%;
  background-color: $base_color;

  //header
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    //&_menu
    &_menu {
      li {
        display: inline-block;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

//Users
.users {
  text-align: center;
}

//Footer#
#footer {
  width: 100%;
  padding: 15px 0;
  background-color: $base_color;

  //text
  .text {
    text-align: center;
  }
}
